<!-- views/edit.ejs -->
<h2 class="my-3">Edit Book</h2>
<form action="/books/<%= book.id %>" method="POST" class="row g-3">
  <div class="col-md-6">
    <label for="title" class="form-label">Title:</label>
    <input
      class="form-control"
      type="text"
      name="title"
      id="title"
      value="<%= book.title %>"
      required
    />
  </div>

  <div class="col-md-6">
    <label for="author" class="form-label">Author:</label>
    <input
      class="form-control"
      type="text"
      name="author"
      id="author"
      value="<%= book.author %>"
    />
  </div>

  <div class="col-md-6">
    <label for="isbn" class="form-label">ISBN:</label>
    <input
      class="form-control"
      type="text"
      name="isbn"
      id="isbn"
      value="<%= book.isbn %>"
    />
  </div>

  <div class="col-md-6">
    <label for="rating" class="form-label">Rating (1-5):</label>
    <input
      class="form-control"
      type="number"
      name="rating"
      id="rating"
      min="1"
      max="5"
      value="<%= book.rating %>"
    />
  </div>

  <div class="col-md-6">
    <label for="review" class="form-label">Review:</label>
    <textarea class="form-control" name="review" id="review"><%= book.review %></textarea>
  </div>

  <div class="col-md-6">
    <label for="date_read" class="form-label">Date Read:</label>
    <input
      class="form-control"
      type="date"
      name="date_read"
      id="date_read"
      value="<%= book.date_read ? new Date(book.date_read).toISOString().split('T')[0] : '' %>"
    />
  </div>
<div class="col-12">
  <button type="submit">Save Changes</button>
</div>
</form>